<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_bceea7775bf44033a91ae28f0d048c1f {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_bceea7775bf44033a91ae28f0d048c1f" ></div>
        
</body>
<script>    
    
            var map_bceea7775bf44033a91ae28f0d048c1f = L.map(
                "map_bceea7775bf44033a91ae28f0d048c1f",
                {
                    center: [22.396092, -101.73143],
                    crs: L.CRS.EPSG3857,
                    zoom: 5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_50622a0d0099405dbb8d4ad7c947d4d0 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            var circle_marker_933350f9c5974096a0eff88d32923208 = L.circleMarker(
                [21.88378056, -102.295825],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_933350f9c5974096a0eff88d32923208.bindTooltip(
                `<div>
                     <b> Nombre:</b>Centro<br><b> Ciudad:</b>Aguascalientes<br><b> Valor:</b>9.72<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_91bb7e43c84549bf830b055e9ab6ac92 = L.circleMarker(
                [32.63972222, -115.5063889],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_91bb7e43c84549bf830b055e9ab6ac92.bindTooltip(
                `<div>
                     <b> Nombre:</b>COBACH<br><b> Ciudad:</b>Mexicali<br><b> Valor:</b>19.57<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_014a0b8e07fa44e38f7d662d5a80ae3f = L.circleMarker(
                [32.52946111, -116.9212806],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_014a0b8e07fa44e38f7d662d5a80ae3f.bindTooltip(
                `<div>
                     <b> Nombre:</b>Laboratorio<br><b> Ciudad:</b>Tijuana<br><b> Valor:</b>17.13<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_3c47f3b2ddda40dfb525d2282763dfb5 = L.circleMarker(
                [32.4975, -116.9769444],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_3c47f3b2ddda40dfb525d2282763dfb5.bindTooltip(
                `<div>
                     <b> Nombre:</b>La Mesa<br><b> Ciudad:</b>Tijuana<br><b> Valor:</b>11.58<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_13ef6b4829404475b6c9c51106de3c78 = L.circleMarker(
                [28.632775, -106.0388669],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_13ef6b4829404475b6c9c51106de3c78.bindTooltip(
                `<div>
                     <b> Nombre:</b>SUR<br><b> Ciudad:</b>Chihuahua<br><b> Valor:</b>28.9<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_260779821ed14831b589bd8fe88c8d8c = L.circleMarker(
                [25.52269444, -103.3958056],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_260779821ed14831b589bd8fe88c8d8c.bindTooltip(
                `<div>
                     <b> Nombre:</b>CONALEP<br><b> Ciudad:</b>Torreon<br><b> Valor:</b>5.26<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_8c21f088f1714e4db97b4da8fa3d8575 = L.circleMarker(
                [24.02677778, -104.692975],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_8c21f088f1714e4db97b4da8fa3d8575.bindTooltip(
                `<div>
                     <b> Nombre:</b>SRNyMA<br><b> Ciudad:</b>Durango<br><b> Valor:</b>10.3<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_3e2b0ec7c90f4f42850146fa9465e034 = L.circleMarker(
                [20.5175, -100.8155556],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_3e2b0ec7c90f4f42850146fa9465e034.bindTooltip(
                `<div>
                     <b> Nombre:</b>Policia<br><b> Ciudad:</b>Celaya<br><b> Valor:</b>3.47<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_14b052d6f6314c12b53424232f6dd8d6 = L.circleMarker(
                [20.5375, -100.8397222],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_14b052d6f6314c12b53424232f6dd8d6.bindTooltip(
                `<div>
                     <b> Nombre:</b>San Juanico<br><b> Ciudad:</b>Celaya<br><b> Valor:</b>9.08<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_c4f2d80afc504b1bac125096a1d79646 = L.circleMarker(
                [21.11805556, -101.6021667],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_c4f2d80afc504b1bac125096a1d79646.bindTooltip(
                `<div>
                     <b> Nombre:</b>Bomberos<br><b> Ciudad:</b>Irapuato<br><b> Valor:</b>2.53<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_9ec4e57823114dbe92bf1870d082ea5d = L.circleMarker(
                [20.65805556, -101.3488889],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_9ec4e57823114dbe92bf1870d082ea5d.bindTooltip(
                `<div>
                     <b> Nombre:</b>Teodula<br><b> Ciudad:</b>Irapuato<br><b> Valor:</b>4.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_a3b7655e7ee341cba0fbd7a4af1ce87b = L.circleMarker(
                [21.13333333, -101.68],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_a3b7655e7ee341cba0fbd7a4af1ce87b.bindTooltip(
                `<div>
                     <b> Nombre:</b>Facultad de Medicina<br><b> Ciudad:</b>Leon<br><b> Valor:</b>1.67<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_d19e76f74dc249f983200c45783802d7 = L.circleMarker(
                [20.57861111, -101.1988889],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_d19e76f74dc249f983200c45783802d7.bindTooltip(
                `<div>
                     <b> Nombre:</b>Cruz roja<br><b> Ciudad:</b>Salamanca<br><b> Valor:</b>22.2<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_0111fa57807b41ef992d6e91902106fe = L.circleMarker(
                [20.55805556, -101.2047222],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_0111fa57807b41ef992d6e91902106fe.bindTooltip(
                `<div>
                     <b> Nombre:</b>DIF<br><b> Ciudad:</b>Salamanca<br><b> Valor:</b>11.68<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_fa59a3417a1d4015968926156797e54a = L.circleMarker(
                [19.77169444, -98.57769444],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_fa59a3417a1d4015968926156797e54a.bindTooltip(
                `<div>
                     <b> Nombre:</b>Estacion de Bomberos de Cd. Sahagon<br><b> Ciudad:</b>Tepeapulco<br><b> Valor:</b>9.7<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_ca1ab4cbf8ba49a3964f82de2cf7ea26 = L.circleMarker(
                [20.37511111, -99.65444444],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_ca1ab4cbf8ba49a3964f82de2cf7ea26.bindTooltip(
                `<div>
                     <b> Nombre:</b>Hospital<br><b> Ciudad:</b>Huichapan<br><b> Valor:</b>4.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_344eeea44e074c8b80ab200eccf3352b = L.circleMarker(
                [20.50555556, -99.58027778],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_344eeea44e074c8b80ab200eccf3352b.bindTooltip(
                `<div>
                     <b> Nombre:</b>Primaria Melchor Ocampo<br><b> Ciudad:</b>Tepeji<br><b> Valor:</b>5.51<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_73615a543e204654bac5c5782f718408 = L.circleMarker(
                [20.12055556, -98.74],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_73615a543e204654bac5c5782f718408.bindTooltip(
                `<div>
                     <b> Nombre:</b>Jardin del Maestro<br><b> Ciudad:</b>Pachuca<br><b> Valor:</b>13.89<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_9cf21f1f07c04de5ab3ad9e61dabd587 = L.circleMarker(
                [20.07722222, -98.77797222],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_9cf21f1f07c04de5ab3ad9e61dabd587.bindTooltip(
                `<div>
                     <b> Nombre:</b>Museo del Rehilete<br><b> Ciudad:</b>Pachuca<br><b> Valor:</b>8.42<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_ee9e2ccdb99545b3a1f8d491230a6868 = L.circleMarker(
                [20.67376472, -103.3333361],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_ee9e2ccdb99545b3a1f8d491230a6868.bindTooltip(
                `<div>
                     <b> Nombre:</b>Centro <br><b> Ciudad:</b>Guadalajara<br><b> Valor:</b>9.83<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_25bfc3995d924b539c23cc50321b9a72 = L.circleMarker(
                [20.63126806, -103.4164308],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_25bfc3995d924b539c23cc50321b9a72.bindTooltip(
                `<div>
                     <b> Nombre:</b>Las Aguilas<br><b> Ciudad:</b>Guadalajara<br><b> Valor:</b>3.11<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_765314f03623448ab5e34cf1b335cf39 = L.circleMarker(
                [20.52914944, -103.3771794],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_765314f03623448ab5e34cf1b335cf39.bindTooltip(
                `<div>
                     <b> Nombre:</b>Santa Fe<br><b> Ciudad:</b>Guadalajara<br><b> Valor:</b>4.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_7b50bb7bf2674c5ea8fabc7ceaa84af4 = L.circleMarker(
                [20.64096667, -103.3125919],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_7b50bb7bf2674c5ea8fabc7ceaa84af4.bindTooltip(
                `<div>
                     <b> Nombre:</b>Tlaquepaque<br><b> Ciudad:</b>Guadalajara<br><b> Valor:</b>2.82<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_fb3b8bbff275459485e5927279b0cfc4 = L.circleMarker(
                [19.26030556, -99.64572222],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_fb3b8bbff275459485e5927279b0cfc4.bindTooltip(
                `<div>
                     <b> Nombre:</b>Ceboruco<br><b> Ciudad:</b>Toluca<br><b> Valor:</b>8.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_d0c2c998ed6041bb8834553109cbfb85 = L.circleMarker(
                [19.27808333, -99.65641667],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_d0c2c998ed6041bb8834553109cbfb85.bindTooltip(
                `<div>
                     <b> Nombre:</b>Toluca Centro<br><b> Ciudad:</b>Toluca<br><b> Valor:</b>16.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_7a6519ef5c134fcf845cb39575678b74 = L.circleMarker(
                [19.27019444, -99.59519444],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_7a6519ef5c134fcf845cb39575678b74.bindTooltip(
                `<div>
                     <b> Nombre:</b>Metepec<br><b> Ciudad:</b>Toluca<br><b> Valor:</b>14.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_043a4a350b28409aaa5e888716afbaf5 = L.circleMarker(
                [19.28344444, -99.68348889],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_043a4a350b28409aaa5e888716afbaf5.bindTooltip(
                `<div>
                     <b> Nombre:</b>Oxtotitlan<br><b> Ciudad:</b>Toluca<br><b> Valor:</b>9.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_56df6c7a3da747eeb44e2a5616a18e86 = L.circleMarker(
                [19.28041667, -99.54166667],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_56df6c7a3da747eeb44e2a5616a18e86.bindTooltip(
                `<div>
                     <b> Nombre:</b>San Mateo Atenco<br><b> Ciudad:</b>Toluca<br><b> Valor:</b>24.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_d10096bea6cd46678970456ec5975566 = L.circleMarker(
                [19.69046111, -101.2047889],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_d10096bea6cd46678970456ec5975566.bindTooltip(
                `<div>
                     <b> Nombre:</b>Universidad Michoacana de San Nicolas Hidalgo<br><b> Ciudad:</b>Morelia<br><b> Valor:</b>7.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_91531d325da947fda2e3e69dd36d0b5c = L.circleMarker(
                [18.92181778, -99.23489667],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_91531d325da947fda2e3e69dd36d0b5c.bindTooltip(
                `<div>
                     <b> Nombre:</b>Cuernavaca 01<br><b> Ciudad:</b>Cuernavaca<br><b> Valor:</b>4.61<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_c5f35cb703874f9ba132bb33f7249776 = L.circleMarker(
                [21.47817778, -104.8677417],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_c5f35cb703874f9ba132bb33f7249776.bindTooltip(
                `<div>
                     <b> Nombre:</b>Tecnologico de Tepic<br><b> Ciudad:</b>Tepic<br><b> Valor:</b>1.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_da8d296e10b94920b8c675ba82a49b7b = L.circleMarker(
                [21.50980556, -104.9101806],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_da8d296e10b94920b8c675ba82a49b7b.bindTooltip(
                `<div>
                     <b> Nombre:</b>Primaria Julian Gascon Mercado<br><b> Ciudad:</b>Tepic<br><b> Valor:</b>6.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_6941fbf747f24ae98a528e17451818b6 = L.circleMarker(
                [25.67583333, -100.3383333],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_6941fbf747f24ae98a528e17451818b6.bindTooltip(
                `<div>
                     <b> Nombre:</b>Obispado<br><b> Ciudad:</b>Monterrey<br><b> Valor:</b>3.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_98ad387a34eb41a19937af0990fd5670 = L.circleMarker(
                [16.69934028, -96.866455],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_98ad387a34eb41a19937af0990fd5670.bindTooltip(
                `<div>
                     <b> Nombre:</b>CEDART<br><b> Ciudad:</b>Oaxaca<br><b> Valor:</b>15.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_868f13f3d9924f958fdad4c89f0543b4 = L.circleMarker(
                [19.04138889, -98.21422222],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_868f13f3d9924f958fdad4c89f0543b4.bindTooltip(
                `<div>
                     <b> Nombre:</b>Las Ninfas<br><b> Ciudad:</b>Puebla<br><b> Valor:</b>6.62<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_91bcb71aa3d74998a38bcfc873b745c5 = L.circleMarker(
                [19.06272222, -98.22452778],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_91bcb71aa3d74998a38bcfc873b745c5.bindTooltip(
                `<div>
                     <b> Nombre:</b>Benemerito Instituto Normal del Estado<br><b> Ciudad:</b>Puebla<br><b> Valor:</b>25.49<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_6a96122099584878a9085e1e6d828770 = L.circleMarker(
                [19.31758333, -98.23730556],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_6a96122099584878a9085e1e6d828770.bindTooltip(
                `<div>
                     <b> Nombre:</b>Palacio de Gobierno<br><b> Ciudad:</b>Tlaxcala<br><b> Valor:</b>3.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_b74f5fd2184347968860facc6b8879ba = L.circleMarker(
                [19.53009444, -96.88188056],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_b74f5fd2184347968860facc6b8879ba.bindTooltip(
                `<div>
                     <b> Nombre:</b>STPS<br><b> Ciudad:</b>Xalapa<br><b> Valor:</b>7.3<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_233d71e0824543d2b9c4274d7c797b95 = L.circleMarker(
                [20.97327222, -89.62481111],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_233d71e0824543d2b9c4274d7c797b95.bindTooltip(
                `<div>
                     <b> Nombre:</b>SEDUMA01<br><b> Ciudad:</b>Merida<br><b> Valor:</b>-0.72<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_60693d10fe504318ae54ae69b345bb6b = L.circleMarker(
                [19.15428611, -99.16277778],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_60693d10fe504318ae54ae69b345bb6b.bindTooltip(
                `<div>
                     <b> Nombre:</b>Ajusco<br><b> Ciudad:</b>Valle de Mexico<br><b> Valor:</b>4.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_80220fa0e2284e43b664f243ec7dda63 = L.circleMarker(
                [19.27222222, -99.20777778],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_80220fa0e2284e43b664f243ec7dda63.bindTooltip(
                `<div>
                     <b> Nombre:</b>Ajusco Medio<br><b> Ciudad:</b>Valle de Mexico<br><b> Valor:</b>5.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_a046143abbbe4e63b2286c95cbb20269 = L.circleMarker(
                [19.32638889, -99.17611111],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_a046143abbbe4e63b2286c95cbb20269.bindTooltip(
                `<div>
                     <b> Nombre:</b>Centro de Ciencias de la Atmosfera<br><b> Ciudad:</b>Valle de Mexico<br><b> Valor:</b>8.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_9f2848207fc64a83a8b0982da8b82c9f = L.circleMarker(
                [19.41166667, -99.15222222],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_9f2848207fc64a83a8b0982da8b82c9f.bindTooltip(
                `<div>
                     <b> Nombre:</b>Hospital General de Mexico<br><b> Ciudad:</b>Valle de Mexico<br><b> Valor:</b>2.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_276851b206914d57a58d318eae8ee126 = L.circleMarker(
                [19.42472222, -99.11972222],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_276851b206914d57a58d318eae8ee126.bindTooltip(
                `<div>
                     <b> Nombre:</b>Merced<br><b> Ciudad:</b>Valle de Mexico<br><b> Valor:</b>14.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_eb785bb0868243058da02897a7b1692a = L.circleMarker(
                [19.39388889, -99.02833333],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_eb785bb0868243058da02897a7b1692a.bindTooltip(
                `<div>
                     <b> Nombre:</b>Nezahualcoyotl<br><b> Ciudad:</b>Valle de Mexico<br><b> Valor:</b>5.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_c737a9c063524ceaa8869c70e3431742 = L.circleMarker(
                [19.53305556, -99.03055556],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_c737a9c063524ceaa8869c70e3431742.bindTooltip(
                `<div>
                     <b> Nombre:</b>San Agustin<br><b> Ciudad:</b>Valle de Mexico<br><b> Valor:</b>3.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_ebe7adbe87b4424dbca32642cf8d5275 = L.circleMarker(
                [19.3575, -99.26305556],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_ebe7adbe87b4424dbca32642cf8d5275.bindTooltip(
                `<div>
                     <b> Nombre:</b>Santa Fe<br><b> Ciudad:</b>Valle de Mexico<br><b> Valor:</b>5.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_a0d04ecb8f974c3aaa2c79489908bbfc = L.circleMarker(
                [19.404, -99.20272222],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_a0d04ecb8f974c3aaa2c79489908bbfc.bindTooltip(
                `<div>
                     <b> Nombre:</b>Miguel Hidalgo<br><b> Ciudad:</b>Valle de Mexico<br><b> Valor:</b>2.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_a32ded951ed84c1ab37a728b256dc6a4 = L.circleMarker(
                [19.52916667, -99.20472222],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_a32ded951ed84c1ab37a728b256dc6a4.bindTooltip(
                `<div>
                     <b> Nombre:</b>Tlalnepantla<br><b> Ciudad:</b>Valle de Mexico<br><b> Valor:</b>6.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_10fdb4bed1834a91bdf825380b425136 = L.circleMarker(
                [19.30444444, -99.10388889],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_10fdb4bed1834a91bdf825380b425136.bindTooltip(
                `<div>
                     <b> Nombre:</b>UAM Xochimilco<br><b> Ciudad:</b>Valle de Mexico<br><b> Valor:</b>3.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_6a236df2a0f14ff082d78117fabbd6d5 = L.circleMarker(
                [19.52611111, -99.0825],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_6a236df2a0f14ff082d78117fabbd6d5.bindTooltip(
                `<div>
                     <b> Nombre:</b>Xalostoc<br><b> Ciudad:</b>Valle de Mexico<br><b> Valor:</b>4.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_efb508816c884655afbff4716d3d69db = L.circleMarker(
                [20.50897222, -97.44698611],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_efb508816c884655afbff4716d3d69db.bindTooltip(
                `<div>
                     <b> Nombre:</b>Universidad Veracruzana<br><b> Ciudad:</b>Poza Rica<br><b> Valor:</b>6.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_e783ecd4cf6e4ebe8b5b82cfc82ce168 = L.circleMarker(
                [20.08525, -98.36663889],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_e783ecd4cf6e4ebe8b5b82cfc82ce168.bindTooltip(
                `<div>
                     <b> Nombre:</b>Tulancingo<br><b> Ciudad:</b>Tulancingo<br><b> Valor:</b>6.02<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_541560ade0874941a0b93417c348219a = L.circleMarker(
                [17.09466667, -96.75216667],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_541560ade0874941a0b93417c348219a.bindTooltip(
                `<div>
                     <b> Nombre:</b>Casa Hogar<br><b> Ciudad:</b>Oaxaca<br><b> Valor:</b>5.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_94f57fbe22de466492ae8096942dde93 = L.circleMarker(
                [19.19916667, -99.01083333],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_94f57fbe22de466492ae8096942dde93.bindTooltip(
                `<div>
                     <b> Nombre:</b>Milpa Alta<br><b> Ciudad:</b>Valle de Mexico<br><b> Valor:</b>3.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_cabdb38b0e9b4f1ba17a285dcd6c79bf = L.circleMarker(
                [19.37166667, -99.15916667],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_cabdb38b0e9b4f1ba17a285dcd6c79bf.bindTooltip(
                `<div>
                     <b> Nombre:</b>Benito Juarez<br><b> Ciudad:</b>Valle de Mexico<br><b> Valor:</b>5.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_164b4db4cf394ab8bc3fadc529b9aa74 = L.circleMarker(
                [19.29222222, -99.38055556],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_164b4db4cf394ab8bc3fadc529b9aa74.bindTooltip(
                `<div>
                     <b> Nombre:</b>Instituto Nacional de Investigaciones Nucleares<br><b> Ciudad:</b>Valle de Mexico<br><b> Valor:</b>3.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_d19a4e2e983745a6af83284b1529bed4 = L.circleMarker(
                [25.42147222, -100.9968611],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_d19a4e2e983745a6af83284b1529bed4.bindTooltip(
                `<div>
                     <b> Nombre:</b>Finanzas<br><b> Ciudad:</b>Saltillo<br><b> Valor:</b>16.96<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_8f57ba7bf7564ea2862841c6ddd4bf14 = L.circleMarker(
                [26.90819444, -101.427],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_8f57ba7bf7564ea2862841c6ddd4bf14.bindTooltip(
                `<div>
                     <b> Nombre:</b>Jurisdiccion Sanitaria<br><b> Ciudad:</b>Monclova<br><b> Valor:</b>16.69<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_2da4dc30b41d46ada2723c7893e20b97 = L.circleMarker(
                [28.70766667, -100.5265],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_2da4dc30b41d46ada2723c7893e20b97.bindTooltip(
                `<div>
                     <b> Nombre:</b>Centro de Rehabilitacion DIF<br><b> Ciudad:</b>Piedras Negras<br><b> Valor:</b>13.13<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_a7f1275e14394ed0bee55dad5f2c41c1 = L.circleMarker(
                [20.91475556, -100.7438056],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_a7f1275e14394ed0bee55dad5f2c41c1.bindTooltip(
                `<div>
                     <b> Nombre:</b>Presidencia Municipal<br><b> Ciudad:</b>San Miguel de Allende<br><b> Valor:</b>10.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_86372de1e49940ccbcacc0f3a9a100f6 = L.circleMarker(
                [20.42527778, -101.1980556],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_86372de1e49940ccbcacc0f3a9a100f6.bindTooltip(
                `<div>
                     <b> Nombre:</b>Presidencia Municipal<br><b> Ciudad:</b>Abasolo<br><b> Valor:</b>4.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_8b1f795dac164e7e9f4760f86b27b2f7 = L.circleMarker(
                [21.29586111, -100.5233056],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_8b1f795dac164e7e9f4760f86b27b2f7.bindTooltip(
                `<div>
                     <b> Nombre:</b>Presidencia Municipal<br><b> Ciudad:</b>San Luis de la Paz<br><b> Valor:</b>5.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_5b4af0284cd749c88d08875e969636ee = L.circleMarker(
                [21.01758333, -101.2573611],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_bceea7775bf44033a91ae28f0d048c1f);
        
    
            circle_marker_5b4af0284cd749c88d08875e969636ee.bindTooltip(
                `<div>
                     <b> Nombre:</b>Universidad Gto Sede Belen<br><b> Ciudad:</b>Guanajuato<br><b> Valor:</b>2.0<br>
                 </div>`,
                {"sticky": true}
            );
        
</script>