<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_b2f1bd1474b542cab9dce551fedd49b2 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_b2f1bd1474b542cab9dce551fedd49b2" ></div>
        
</body>
<script>    
    
            var map_b2f1bd1474b542cab9dce551fedd49b2 = L.map(
                "map_b2f1bd1474b542cab9dce551fedd49b2",
                {
                    center: [22.396092, -101.73143],
                    crs: L.CRS.EPSG3857,
                    zoom: 5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_4b21a443b9a94fb28a823d3c5e9a3c4f = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            var circle_marker_3a96bc10d5334029818ca8410b68bd5c = L.circleMarker(
                [21.88378056, -102.295825],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_3a96bc10d5334029818ca8410b68bd5c.bindTooltip(
                `<div>
                     <b> Nombre:</b>Centro<br><b> Ciudad:</b>Aguascalientes<br><b> Valor:</b>9.72<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_401679eed6ce4c1983ea37b79092fe73 = L.circleMarker(
                [32.63972222, -115.5063889],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_401679eed6ce4c1983ea37b79092fe73.bindTooltip(
                `<div>
                     <b> Nombre:</b>COBACH<br><b> Ciudad:</b>Mexicali<br><b> Valor:</b>19.57<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_768be900141347d1b4c23cd593562cad = L.circleMarker(
                [32.52946111, -116.9212806],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_768be900141347d1b4c23cd593562cad.bindTooltip(
                `<div>
                     <b> Nombre:</b>Laboratorio<br><b> Ciudad:</b>Tijuana<br><b> Valor:</b>17.13<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_86b39ed27afe43b9ac20e845bc597e5b = L.circleMarker(
                [32.4975, -116.9769444],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_86b39ed27afe43b9ac20e845bc597e5b.bindTooltip(
                `<div>
                     <b> Nombre:</b>La Mesa<br><b> Ciudad:</b>Tijuana<br><b> Valor:</b>11.58<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_c98188d280e14159af0178544258a30d = L.circleMarker(
                [28.632775, -106.0388669],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_c98188d280e14159af0178544258a30d.bindTooltip(
                `<div>
                     <b> Nombre:</b>SUR<br><b> Ciudad:</b>Chihuahua<br><b> Valor:</b>28.9<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_969e17cbde194e9297a88c4b0e8d1239 = L.circleMarker(
                [25.52269444, -103.3958056],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_969e17cbde194e9297a88c4b0e8d1239.bindTooltip(
                `<div>
                     <b> Nombre:</b>CONALEP<br><b> Ciudad:</b>Torreon<br><b> Valor:</b>5.26<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_8033455fae1d4d338255b8499cd6ea2c = L.circleMarker(
                [24.02677778, -104.692975],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_8033455fae1d4d338255b8499cd6ea2c.bindTooltip(
                `<div>
                     <b> Nombre:</b>SRNyMA<br><b> Ciudad:</b>Durango<br><b> Valor:</b>10.3<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_6e728696429f4520a16c1fea4c6f0979 = L.circleMarker(
                [20.5175, -100.8155556],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_6e728696429f4520a16c1fea4c6f0979.bindTooltip(
                `<div>
                     <b> Nombre:</b>Policia<br><b> Ciudad:</b>Celaya<br><b> Valor:</b>3.47<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_d70e83fea8ab4abea51e43a7670574a0 = L.circleMarker(
                [20.5375, -100.8397222],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_d70e83fea8ab4abea51e43a7670574a0.bindTooltip(
                `<div>
                     <b> Nombre:</b>San Juanico<br><b> Ciudad:</b>Celaya<br><b> Valor:</b>9.08<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_c9684272b47e4baeac52cd066edac5e2 = L.circleMarker(
                [21.11805556, -101.6021667],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_c9684272b47e4baeac52cd066edac5e2.bindTooltip(
                `<div>
                     <b> Nombre:</b>Bomberos<br><b> Ciudad:</b>Irapuato<br><b> Valor:</b>2.53<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_5052fce593bc45e685640f86347c3fbd = L.circleMarker(
                [20.65805556, -101.3488889],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_5052fce593bc45e685640f86347c3fbd.bindTooltip(
                `<div>
                     <b> Nombre:</b>Teodula<br><b> Ciudad:</b>Irapuato<br><b> Valor:</b>4.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_d5f3b2392c96423fb4bc0bffa7eabeb8 = L.circleMarker(
                [21.13333333, -101.68],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_d5f3b2392c96423fb4bc0bffa7eabeb8.bindTooltip(
                `<div>
                     <b> Nombre:</b>Facultad de Medicina<br><b> Ciudad:</b>Leon<br><b> Valor:</b>1.67<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_5acf4242cc2b4d17acd4d536654afbf6 = L.circleMarker(
                [20.57861111, -101.1988889],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_5acf4242cc2b4d17acd4d536654afbf6.bindTooltip(
                `<div>
                     <b> Nombre:</b>Cruz roja<br><b> Ciudad:</b>Salamanca<br><b> Valor:</b>22.2<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_77f19dcc346141c0a457970428cbda9c = L.circleMarker(
                [20.55805556, -101.2047222],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_77f19dcc346141c0a457970428cbda9c.bindTooltip(
                `<div>
                     <b> Nombre:</b>DIF<br><b> Ciudad:</b>Salamanca<br><b> Valor:</b>11.68<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_a0091e1fe52a46088f0ddbefcc10d828 = L.circleMarker(
                [19.77169444, -98.57769444],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_a0091e1fe52a46088f0ddbefcc10d828.bindTooltip(
                `<div>
                     <b> Nombre:</b>Estacion de Bomberos de Cd. Sahagon<br><b> Ciudad:</b>Tepeapulco<br><b> Valor:</b>9.7<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_f56b7bfb4f7b4540b3c6a8b27b6d29ad = L.circleMarker(
                [20.37511111, -99.65444444],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_f56b7bfb4f7b4540b3c6a8b27b6d29ad.bindTooltip(
                `<div>
                     <b> Nombre:</b>Hospital<br><b> Ciudad:</b>Huichapan<br><b> Valor:</b>4.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_90bd0d7199c14832bf797cef1936202a = L.circleMarker(
                [20.50555556, -99.58027778],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_90bd0d7199c14832bf797cef1936202a.bindTooltip(
                `<div>
                     <b> Nombre:</b>Primaria Melchor Ocampo<br><b> Ciudad:</b>Tepeji<br><b> Valor:</b>5.51<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_26e93ee409bf400ab513505528895bf6 = L.circleMarker(
                [20.12055556, -98.74],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_26e93ee409bf400ab513505528895bf6.bindTooltip(
                `<div>
                     <b> Nombre:</b>Jardin del Maestro<br><b> Ciudad:</b>Pachuca<br><b> Valor:</b>13.89<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_c7e4a7af7e7247e6a3334f8ad1221460 = L.circleMarker(
                [20.07722222, -98.77797222],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_c7e4a7af7e7247e6a3334f8ad1221460.bindTooltip(
                `<div>
                     <b> Nombre:</b>Museo del Rehilete<br><b> Ciudad:</b>Pachuca<br><b> Valor:</b>8.42<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_372e8cfd149f4a05b4cc754bc22199c8 = L.circleMarker(
                [20.67376472, -103.3333361],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_372e8cfd149f4a05b4cc754bc22199c8.bindTooltip(
                `<div>
                     <b> Nombre:</b>Centro <br><b> Ciudad:</b>Guadalajara<br><b> Valor:</b>9.83<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_0f4d17631ed34636b62b046e53298e39 = L.circleMarker(
                [20.63126806, -103.4164308],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_0f4d17631ed34636b62b046e53298e39.bindTooltip(
                `<div>
                     <b> Nombre:</b>Las Aguilas<br><b> Ciudad:</b>Guadalajara<br><b> Valor:</b>3.11<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_bd939dfc1034496caa24ff72ae98abb6 = L.circleMarker(
                [20.52914944, -103.3771794],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_bd939dfc1034496caa24ff72ae98abb6.bindTooltip(
                `<div>
                     <b> Nombre:</b>Santa Fe<br><b> Ciudad:</b>Guadalajara<br><b> Valor:</b>4.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_b2b7be1594c34363a907f6d0db0afd33 = L.circleMarker(
                [20.64096667, -103.3125919],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_b2b7be1594c34363a907f6d0db0afd33.bindTooltip(
                `<div>
                     <b> Nombre:</b>Tlaquepaque<br><b> Ciudad:</b>Guadalajara<br><b> Valor:</b>2.82<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_731257d1b74347a088f71db2019a3ef7 = L.circleMarker(
                [19.26030556, -99.64572222],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_731257d1b74347a088f71db2019a3ef7.bindTooltip(
                `<div>
                     <b> Nombre:</b>Ceboruco<br><b> Ciudad:</b>Toluca<br><b> Valor:</b>8.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_0533f253da0c44a49ebb1a9d9f49e53f = L.circleMarker(
                [19.27808333, -99.65641667],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_0533f253da0c44a49ebb1a9d9f49e53f.bindTooltip(
                `<div>
                     <b> Nombre:</b>Toluca Centro<br><b> Ciudad:</b>Toluca<br><b> Valor:</b>16.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_7ad0dff950af498992b951f25f64c3d4 = L.circleMarker(
                [19.27019444, -99.59519444],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_7ad0dff950af498992b951f25f64c3d4.bindTooltip(
                `<div>
                     <b> Nombre:</b>Metepec<br><b> Ciudad:</b>Toluca<br><b> Valor:</b>14.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_3730eef98a7340ada84745e6316bc59b = L.circleMarker(
                [19.28344444, -99.68348889],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_3730eef98a7340ada84745e6316bc59b.bindTooltip(
                `<div>
                     <b> Nombre:</b>Oxtotitlan<br><b> Ciudad:</b>Toluca<br><b> Valor:</b>9.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_db69ac9c7774457685b74098b84d179a = L.circleMarker(
                [19.28041667, -99.54166667],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_db69ac9c7774457685b74098b84d179a.bindTooltip(
                `<div>
                     <b> Nombre:</b>San Mateo Atenco<br><b> Ciudad:</b>Toluca<br><b> Valor:</b>24.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_0fc27292a27545749fb6df19d8b41f0e = L.circleMarker(
                [19.69046111, -101.2047889],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_0fc27292a27545749fb6df19d8b41f0e.bindTooltip(
                `<div>
                     <b> Nombre:</b>Universidad Michoacana de San Nicolas Hidalgo<br><b> Ciudad:</b>Morelia<br><b> Valor:</b>7.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_7ad38829935c49e29f763d99d0f5f2fe = L.circleMarker(
                [18.92181778, -99.23489667],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_7ad38829935c49e29f763d99d0f5f2fe.bindTooltip(
                `<div>
                     <b> Nombre:</b>Cuernavaca 01<br><b> Ciudad:</b>Cuernavaca<br><b> Valor:</b>4.61<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_91265e3510374507978361609c417a68 = L.circleMarker(
                [21.47817778, -104.8677417],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_91265e3510374507978361609c417a68.bindTooltip(
                `<div>
                     <b> Nombre:</b>Tecnologico de Tepic<br><b> Ciudad:</b>Tepic<br><b> Valor:</b>1.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_4be1735db31844b8bf5a4ac0cbe1218d = L.circleMarker(
                [21.50980556, -104.9101806],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_4be1735db31844b8bf5a4ac0cbe1218d.bindTooltip(
                `<div>
                     <b> Nombre:</b>Primaria Julian Gascon Mercado<br><b> Ciudad:</b>Tepic<br><b> Valor:</b>6.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_4cece2649aca48d5baf4b7e56123d92f = L.circleMarker(
                [25.67583333, -100.3383333],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_4cece2649aca48d5baf4b7e56123d92f.bindTooltip(
                `<div>
                     <b> Nombre:</b>Obispado<br><b> Ciudad:</b>Monterrey<br><b> Valor:</b>3.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_0f3d9a1cf6b14588a827f6c953d51363 = L.circleMarker(
                [16.69934028, -96.866455],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_0f3d9a1cf6b14588a827f6c953d51363.bindTooltip(
                `<div>
                     <b> Nombre:</b>CEDART<br><b> Ciudad:</b>Oaxaca<br><b> Valor:</b>15.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_63cf77c4b33d46368bc4abbc27fb8747 = L.circleMarker(
                [19.04138889, -98.21422222],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_63cf77c4b33d46368bc4abbc27fb8747.bindTooltip(
                `<div>
                     <b> Nombre:</b>Las Ninfas<br><b> Ciudad:</b>Puebla<br><b> Valor:</b>6.62<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_94d25fee5aea43e494ed19bd8e1d0ce7 = L.circleMarker(
                [19.06272222, -98.22452778],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_94d25fee5aea43e494ed19bd8e1d0ce7.bindTooltip(
                `<div>
                     <b> Nombre:</b>Benemerito Instituto Normal del Estado<br><b> Ciudad:</b>Puebla<br><b> Valor:</b>25.49<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_d4c7b9a474c541c08dd729e65f75da1e = L.circleMarker(
                [19.31758333, -98.23730556],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_d4c7b9a474c541c08dd729e65f75da1e.bindTooltip(
                `<div>
                     <b> Nombre:</b>Palacio de Gobierno<br><b> Ciudad:</b>Tlaxcala<br><b> Valor:</b>3.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_10c5ed2accdb417cb0c850899db3dbd0 = L.circleMarker(
                [19.53009444, -96.88188056],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_10c5ed2accdb417cb0c850899db3dbd0.bindTooltip(
                `<div>
                     <b> Nombre:</b>STPS<br><b> Ciudad:</b>Xalapa<br><b> Valor:</b>7.3<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_ef96db84a8ca4898bc61a3b13ad1e661 = L.circleMarker(
                [20.97327222, -89.62481111],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_ef96db84a8ca4898bc61a3b13ad1e661.bindTooltip(
                `<div>
                     <b> Nombre:</b>SEDUMA01<br><b> Ciudad:</b>Merida<br><b> Valor:</b>-0.72<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_4d8d5aef0b8b48e98dd4cfcda8e80697 = L.circleMarker(
                [19.15428611, -99.16277778],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_4d8d5aef0b8b48e98dd4cfcda8e80697.bindTooltip(
                `<div>
                     <b> Nombre:</b>Ajusco<br><b> Ciudad:</b>Valle de Mexico<br><b> Valor:</b>4.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_1de1eb350a4e4142b04428903e681965 = L.circleMarker(
                [19.27222222, -99.20777778],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_1de1eb350a4e4142b04428903e681965.bindTooltip(
                `<div>
                     <b> Nombre:</b>Ajusco Medio<br><b> Ciudad:</b>Valle de Mexico<br><b> Valor:</b>5.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_a457f645d1c04ac199f4ddba7dd6fdbc = L.circleMarker(
                [19.32638889, -99.17611111],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_a457f645d1c04ac199f4ddba7dd6fdbc.bindTooltip(
                `<div>
                     <b> Nombre:</b>Centro de Ciencias de la Atmosfera<br><b> Ciudad:</b>Valle de Mexico<br><b> Valor:</b>8.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_8168eb443206402da455aa26d9406922 = L.circleMarker(
                [19.41166667, -99.15222222],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_8168eb443206402da455aa26d9406922.bindTooltip(
                `<div>
                     <b> Nombre:</b>Hospital General de Mexico<br><b> Ciudad:</b>Valle de Mexico<br><b> Valor:</b>2.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_06afccdae36a41b992832090fe43bca0 = L.circleMarker(
                [19.42472222, -99.11972222],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_06afccdae36a41b992832090fe43bca0.bindTooltip(
                `<div>
                     <b> Nombre:</b>Merced<br><b> Ciudad:</b>Valle de Mexico<br><b> Valor:</b>14.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_1efbbf5a494743a2a641bdadbd7df8c2 = L.circleMarker(
                [19.39388889, -99.02833333],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_1efbbf5a494743a2a641bdadbd7df8c2.bindTooltip(
                `<div>
                     <b> Nombre:</b>Nezahualcoyotl<br><b> Ciudad:</b>Valle de Mexico<br><b> Valor:</b>5.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_cf8b6c36f710403c814e5c46c5df7dff = L.circleMarker(
                [19.53305556, -99.03055556],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_cf8b6c36f710403c814e5c46c5df7dff.bindTooltip(
                `<div>
                     <b> Nombre:</b>San Agustin<br><b> Ciudad:</b>Valle de Mexico<br><b> Valor:</b>3.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_56169a1c4ce54c8a8f76f4a7e5c1b336 = L.circleMarker(
                [19.3575, -99.26305556],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_56169a1c4ce54c8a8f76f4a7e5c1b336.bindTooltip(
                `<div>
                     <b> Nombre:</b>Santa Fe<br><b> Ciudad:</b>Valle de Mexico<br><b> Valor:</b>5.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_5386ade3acfe43519d7dd46d854ac8e2 = L.circleMarker(
                [19.404, -99.20272222],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_5386ade3acfe43519d7dd46d854ac8e2.bindTooltip(
                `<div>
                     <b> Nombre:</b>Miguel Hidalgo<br><b> Ciudad:</b>Valle de Mexico<br><b> Valor:</b>2.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_3f4fde77fe164077a316b7e666565bb6 = L.circleMarker(
                [19.52916667, -99.20472222],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_3f4fde77fe164077a316b7e666565bb6.bindTooltip(
                `<div>
                     <b> Nombre:</b>Tlalnepantla<br><b> Ciudad:</b>Valle de Mexico<br><b> Valor:</b>6.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_147d884806694fc68d80f5ad337c55fd = L.circleMarker(
                [19.30444444, -99.10388889],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_147d884806694fc68d80f5ad337c55fd.bindTooltip(
                `<div>
                     <b> Nombre:</b>UAM Xochimilco<br><b> Ciudad:</b>Valle de Mexico<br><b> Valor:</b>3.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_0a6e2f367f6b4f96bd70779f83b9331d = L.circleMarker(
                [19.52611111, -99.0825],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_0a6e2f367f6b4f96bd70779f83b9331d.bindTooltip(
                `<div>
                     <b> Nombre:</b>Xalostoc<br><b> Ciudad:</b>Valle de Mexico<br><b> Valor:</b>4.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_c1a6adc2c31a4d5da8723cae555ae854 = L.circleMarker(
                [20.50897222, -97.44698611],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_c1a6adc2c31a4d5da8723cae555ae854.bindTooltip(
                `<div>
                     <b> Nombre:</b>Universidad Veracruzana<br><b> Ciudad:</b>Poza Rica<br><b> Valor:</b>6.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_301c7463361c4c4c8d6a26ca8f41df17 = L.circleMarker(
                [20.08525, -98.36663889],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_301c7463361c4c4c8d6a26ca8f41df17.bindTooltip(
                `<div>
                     <b> Nombre:</b>Tulancingo<br><b> Ciudad:</b>Tulancingo<br><b> Valor:</b>6.02<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_15230c48820f49eb9e27783f76c6695a = L.circleMarker(
                [17.09466667, -96.75216667],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_15230c48820f49eb9e27783f76c6695a.bindTooltip(
                `<div>
                     <b> Nombre:</b>Casa Hogar<br><b> Ciudad:</b>Oaxaca<br><b> Valor:</b>5.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_398f5ac4caa14660b9f73748937b6a2e = L.circleMarker(
                [19.19916667, -99.01083333],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_398f5ac4caa14660b9f73748937b6a2e.bindTooltip(
                `<div>
                     <b> Nombre:</b>Milpa Alta<br><b> Ciudad:</b>Valle de Mexico<br><b> Valor:</b>3.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_4b569fc52f9749d989bba502ad999f5c = L.circleMarker(
                [19.37166667, -99.15916667],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_4b569fc52f9749d989bba502ad999f5c.bindTooltip(
                `<div>
                     <b> Nombre:</b>Benito Juarez<br><b> Ciudad:</b>Valle de Mexico<br><b> Valor:</b>5.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_dd01569c3edf4e9f8dd43dc3667885df = L.circleMarker(
                [19.29222222, -99.38055556],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_dd01569c3edf4e9f8dd43dc3667885df.bindTooltip(
                `<div>
                     <b> Nombre:</b>Instituto Nacional de Investigaciones Nucleares<br><b> Ciudad:</b>Valle de Mexico<br><b> Valor:</b>3.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_b0e48fcfd13e4d3d9617376c2c037ec4 = L.circleMarker(
                [25.42147222, -100.9968611],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_b0e48fcfd13e4d3d9617376c2c037ec4.bindTooltip(
                `<div>
                     <b> Nombre:</b>Finanzas<br><b> Ciudad:</b>Saltillo<br><b> Valor:</b>16.96<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_0121b572ff264f8ca7a881999de7db06 = L.circleMarker(
                [26.90819444, -101.427],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_0121b572ff264f8ca7a881999de7db06.bindTooltip(
                `<div>
                     <b> Nombre:</b>Jurisdiccion Sanitaria<br><b> Ciudad:</b>Monclova<br><b> Valor:</b>16.69<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_c5421c730f6f4625b3b2088ebb03c16f = L.circleMarker(
                [28.70766667, -100.5265],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_c5421c730f6f4625b3b2088ebb03c16f.bindTooltip(
                `<div>
                     <b> Nombre:</b>Centro de Rehabilitacion DIF<br><b> Ciudad:</b>Piedras Negras<br><b> Valor:</b>13.13<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_87de07a23eaa4601afd8eae8d99b2460 = L.circleMarker(
                [20.91475556, -100.7438056],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_87de07a23eaa4601afd8eae8d99b2460.bindTooltip(
                `<div>
                     <b> Nombre:</b>Presidencia Municipal<br><b> Ciudad:</b>San Miguel de Allende<br><b> Valor:</b>10.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_e9dd326bacca47aa904fb208a3b3d57d = L.circleMarker(
                [20.42527778, -101.1980556],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_e9dd326bacca47aa904fb208a3b3d57d.bindTooltip(
                `<div>
                     <b> Nombre:</b>Presidencia Municipal<br><b> Ciudad:</b>Abasolo<br><b> Valor:</b>4.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_2c9807d3e7404555b4c2cc30bd520ccd = L.circleMarker(
                [21.29586111, -100.5233056],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_2c9807d3e7404555b4c2cc30bd520ccd.bindTooltip(
                `<div>
                     <b> Nombre:</b>Presidencia Municipal<br><b> Ciudad:</b>San Luis de la Paz<br><b> Valor:</b>5.0<br>
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_d94a632172f74426be019ae5c18f50a0 = L.circleMarker(
                [21.01758333, -101.2573611],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b2f1bd1474b542cab9dce551fedd49b2);
        
    
            circle_marker_d94a632172f74426be019ae5c18f50a0.bindTooltip(
                `<div>
                     <b> Nombre:</b>Universidad Gto Sede Belen<br><b> Ciudad:</b>Guanajuato<br><b> Valor:</b>2.0<br>
                 </div>`,
                {"sticky": true}
            );
        
</script>